<div>


  <!-- hero slider Excelência -->
  <section class="hero-section overlay bg-cover  img-slide">
    <div class="container">
      <div id="my-keen-slider" class="keen-slider">
        <div class="keen-slider__slide">
          <!-- slider item -->
          <div class="row">
            <div class="col-md-8">
              <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3"
                data-animation-in="fadeInLeft" data-delay-in=".1">Seu futuro brilhante é nossa missão</h1>
              <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3"
                data-animation-in="fadeInLeft" data-delay-in=".4">formamos profissionais éticos e preparados para
                alcançar sucesso académico e profissional.</p>
              <a href="#/contato" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5"
                data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Inscreva-se agora</a>
            </div>
          </div>
        </div>
        <div class="keen-slider__slide">
          <div class="row">
            <div class="col-md-8">
              <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3"
                data-animation-in="fadeInUp" data-delay-in=".1"> Excelência no Ensino Jurídico</h1>
              <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3"
                data-animation-in="fadeInUp" data-delay-in=".4">Formamos juristas altamente qualificados, preparados
                para atuar com ética, conhecimento e compromisso social.</p>
              <a href="#/contato" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5"
                data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Inscreva-se agora</a>
            </div>
          </div>
        </div>
        <div class="keen-slider__slide">
          <div class="row">
            <div class="col-md-8">
              <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3"
                data-animation-in="fadeInUp" data-delay-in=".1"> Eventos e Oportunidades</h1>
              <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3"
                data-animation-in="fadeInUp" data-delay-in=".4">Promovemos conferências, workshops, estágios e
                competições que enriquecem a experiência académica.</p>
              <a href="#/contato" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5"
                data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Inscreva-se agora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /hero slider -->

  <!-- banner-feature -->
  <section class="bg-gray">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-xl-4 col-lg-5 align-self-end escoder">
          <img class="img-fluid w-100" src="assets/images/about/about-page.png" alt="banner-feature">
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="row feature-blocks bg-gray justify-content-between" style="font-size: 10px;">
            <div class="col-sm-6 col-xl-6 mb-xl-4 mb-lg-2 mb-2  text-sm-left">
              <h4 class="mb-xl-2 mb-lg-1">Licenciatura </h4>
              <p style="">Formação de base para juristas, com foco na vertente Jurídico-Civil, unindo competência e
                ética.</p>
            </div>

            <div class="col-sm-6 col-xl-6 mb-xl-4 mb-lg-2 mb-2  text-sm-left">
              <h4 class="mb-xl-2 mb-lg-1">Gestão de Projectos</h4>
              <p>Curso de especialização voltado à coordenação e implementação de projetos.</p>
            </div>

            <div class="col-sm-6 col-xl-6 mb-xl-4 mb-lg-2 mb-2  text-sm-left">
              <h4 class="mb-xl-2 mb-lg-1">Nossas Conquistas</h4>
              <p>Eventos académicos, extensão, distinções, produção científica e avanços institucionais da FDULAN.</p>
            </div>

            <div class="col-sm-6 col-xl-6 mb-xl-4 mb-lg-2 mb-2  text-sm-left">
              <h4 class="mb-xl-2 mb-lg-1">Extensão FDULAN</h4>
              <p>Ações educativas abertas à comunidade para ampliar o acesso ao conhecimento jurídico</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /banner-feature -->

  <!-- about us -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
          <h2 class="section-title">Excelência, Compromisso e <span>Inovação</span></h2>
          <p>A FDULAN é uma Instituição de Ensino Superior dedicada à formação de juristas com ética, rigor e qualidade.
            Integrada à Universidade Lueji A’Nkonde, aposta num ensino que alia teoria e prática, com foco na
            investigação científica e no compromisso social. </p>
          <p>Promovemos um ambiente académico participativo, onde o estudante é o centro do processo de aprendizagem,
            inspirado a pensar criticamente e a contribuir para o desenvolvimento da comunidade.</p>
          <div class="row">
            <div class="col-md-6 order-2 order-md-1">
              <ul class="list-styled mb-5">
                <li>Qualidade acadêmica</li>
                <li>Programa de Pós-Graduação</li>
                <li>Infraestrutura moderna</li>
              </ul>
            </div>
            <div class="col-md-6 order-2 order-md-1">
              <ul class="list-styled mb-5">
                <li>Intercâmbio cultural</li>
                <li>Oportunidades de pesquisa</li>
                <li>Localização privilegiada</li>
              </ul>
            </div>
          </div>


          <a href="#/sobre" class="btn btn-primary-outline">Saber mais</a>
        </div>
        <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
          <img class="img-fluid w-100" src="assets/images/banner/banner-feature.png" alt="about image">
        </div>
      </div>
    </div>
  </section>
  <!-- /about us -->

  <!-- banner-feature -->
  <section class="bg-gray section-sm">
    <div class="container">

      <div class="row justify-content-between  pt-5 mt-5">
        <div class="col-sm-6 col-xl-6 mb-xl-5 mb-lg-3 mb-4  text-sm-left">
          <div class="row">
            <div class="col-2 col-sm-2 col-xl-2">
              <i class="ti-pin-alt mb-xl-4 mb-lg-3 feature-icon"></i>
            </div>
            <div class="col-10 col-sm-10 col-xl-10">
              <h3 class="mb-xl-4 mb-lg-3 mb-4">Missão </h3>
              <p>Formar profissionais do Direito éticos, comprometidos com a justiça, a cidadania e o desenvolvimento
                social, através de ensino de excelência, pesquisa e extensão.</p>
            </div>

          </div>


          <div class="row">
            <div class="col-2 col-sm-2 col-xl-2">
              <i class="ti-eye mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            </div>
            <div class="col-10 col-sm-10 col-xl-10">
              <h3 class="col-10 mb-xl-4 mb-lg-3 mb-4">Visão</h3>
              <p>Ser reconhecida como uma das melhores faculdades de Direito de Angola, referência em ensino jurídico,
                produção científica e inserção social.</p>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-2 col-2 col-xl-2">
              <i class="ti-medall-alt mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            </div>
            <div class="col-10 col-sm-10 col-xl-10">
              <h3 class="mb-xl-4 mb-lg-3 mb-4">Valores</h3>
              <ul class="list-styled mb-5">
                <li><span>Ética</span> Atuar com responsabilidade, integridade e respeito à lei.</li>
                <li><span>Excelência</span> Buscar continuamente a qualidade no ensino e na gestão.</li>
                <li><span>Compromisso Social</span> Promover o acesso ao conhecimento e à justiça para todos.</li>
                <li><span>Inovação</span> Estimular o pensamento crítico e a investigação aplicada.</li>
              </ul>
            </div>

          </div>

        </div>

        <div class="col-sm-3 col-xl-3  text-center text-sm-left">
          <!-- Card pequeno -->
          <div class="event-card small">
            <div class="event-content pt-5 pb-5" style="background-color: #9f3d51;">
              <h4 class="text-white ">Aprender Fazendo </h4>
              <p class="text-white ">Valorizamos a interdisciplinaridade e incentivamos os alunos a transformar
                conhecimento em prática através de estágios, pesquisa e actividades extracurriculares</p>

            </div>
            <img src="assets/images/about/001.jpg" alt="Revista Científica">
          </div>
        </div>

        <div class="col-sm-3 col-xl-3  text-center text-sm-left">
          <!-- Card pequeno -->
          <div class="event-card small">
            <img src="assets/images/about/002.jpg" alt="Revista Científica">
            <div class="event-content pt-5 pb-5" style="background-color: #9f3d51;">

              <p class="text-white pt-4 pb-4">Na Universidade FDULAN, estamos convictos de que esta abordagem integrada
                forma profissionais completos, confiantes e preparados para os desafios do futuro.</p>

            </div>
          </div>

        </div>
      </div>

    </div>

  </section>
  <!-- /banner-feature -->





  <!-- courses -->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-12  pt-5 mt-3">
          <div class="d-flex align-items-center section-title justify-content-between">
               <h2 class="section-title mr-3">Licenciatura em <span>Direito</span></h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>
            <div>
              <a href="courses.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">Saber mais</a>
            </div>
          </div>
          <div>
            <h5> Ministramos o curso de Licenciatura em Direito, com o objetivo de formar Juristas altamente
              qualificados, preparados para atuar nas vertentes
            </h5>

          </div>
        </div>
      </div>
      <!-- course list -->
      <div class="row justify-content-center">

        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="assets/images/courses/course-4.jpg" alt="course thumb">
            <div class="card-body">
              <a href="course-single.html">
                <h4 class="card-title">Jurídico-Civil</h4>
              </a>
              <p class="card-text mb-4"> Forma juristas para atuar em questões de contratos, propriedade, família e
                heranças, garantindo a aplicação justa das leis na vida em sociedade.</p>

            </div>
          </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="assets/images/courses/course-3.jpg" alt="course thumb">
            <div class="card-body">
              <a href="course-single.html">
                <h4 class="card-title">Jurídico-Política</h4>
              </a>
              <p class="card-text mb-4"> Prepara juristas para trabalhar na organização do Estado, administração pública
                e defesa do Estado de Direito.</p>

            </div>
          </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="assets/images/courses/course-6.jpg" alt="course thumb">
            <div class="card-body">
              <a href="course-single.html">
                <h4 class="card-title">Jurídico-Económica.</h4>
              </a>
              <p class="card-text mb-4"> Capacita juristas para atuar no setor empresarial e financeiro, aplicando leis
                do comércio, finanças e tributação de forma estratégica.</p>

            </div>
          </div>
        </div>
      </div>
      <!-- /course list -->
      <!-- mobile see all button -->
      <div class="row">
        <div class="col-12 text-center">
          <a href="#/curso" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">Saber mais</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /courses -->

  <!-- cta -->
  <section class="section bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6 class="text-white font-secondary mb-0">último ano</h6>
          <h2 class="section-title text-white">Estágio Profissional para Universitários</h2>
          <a href="#/contato" class="btn btn-secondary">junte-se agora</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /cta -->

  <!-- success story -->
  <section class="section bg-cover img-stagio">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-4 position-relative success-video">
          <a class="play-btn venobox" href="" data-vbtype="video">
            <i class="ti-control-play"></i>
          </a>
        </div>
        <div class="col-lg-6 col-sm-8">
          <div class="bg-white p-5">
            <h2 class="section-title">FDULAN </h2>

            <p>Oferecemos o curso de Licenciatura em Direito com enfoque na formação jurídica sólida e prática.</p>

            <div class="valores">
              <div> <strong>Duração: </strong> 5 anos (10 semestres).</div>
              <div><strong>Perfil de saída: </strong> Juristas prontos para atuar em tribunais, consultorias,
                administração pública e ONGs.</div>
              <div><strong>Áreas de Estudo: </strong> Direito Civil, Penal, Constitucional, Administrativo,
                Internacional, Comercial, entre outros.</div>
              <div><strong>Componentes: </strong> Teórica, prática e investigativa.</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /success story -->

  <!-- events -->
  <section class="section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h2 class="mb-0 text-nowrap mr-3">EVENTOS Recentes </h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>
            <div>
              <a href="#/eventos" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">Ver mais</a>
            </div>
          </div>
        </div>
      </div>


      <div class="event-grid">
        <!-- Card grande -->
        <div class="event-card big">
          <img src="assets/images/events/event-2.png" alt="Semana Acadêmica">
          <div class="overlay2"></div>
          <div class="event-content ">
            <h3 class="text-white"> V Moot Arbitral 2023.</h3>
            <p class="text-white">Estudantes da FDULAN marcam presença no V Moot Arbitral 2023, em Luanda, sob
              coordenação
              de docentes da instituição.</p>
            <div class="event-info">📍 Campus UGS | 📅 9 Maio 2023</div>
            <a href="#" class="btn">SABER MAIS</a>
          </div>
        </div>

        <!-- Card pequeno -->
        <div class="event-card small">
          <img src="assets/images/events/event-1.jpg" alt="Revista Científica">
          <div class="event-content">
            <h4 class="card-title">A criminalidade em angola </h4>
            <p>Data: 18 de Abril </p>
            <p><i class="ti-location-pin text-primary mr-2"></i>FDULAN</p>
            <a href="#" class="btn">LER MAIS</a>
          </div>
        </div>

        <!-- Card pequeno -->
        <div class="event-card small">
          <img src="assets/images/events/event-4.jpg" alt="Lançamento Vol. 1">
          <div class="event-content">
            <h4 class="card-title">Celebra mais um ano de existência</h4>
            <p>Data: 11 de Abril</p>
            <p><i class="ti-location-pin text-primary mr-2"></i>FDULAN</p>
            <a href="#" class="btn">LER MAIS</a>
          </div>
        </div>
      </div>

      <!-- mobile see all button -->
      <div class="row">
        <div class="col-12 text-center">
          <a href="#/eventos" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">Ver mais</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /events -->

  <!-- teachers -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
      
        <!-- teacher -->
        

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="testimonial-item d-flex flex-column justify-content-center px-2">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <img class="img-fluid ml-n4" src="./assets/images/testemunho/testimonial-1.jpg" alt="">
            <div class="testimonial-rate">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <h4 class="text-uppercase mb-2 nome-texte">Carlos Pinto</h4>
          <i class="mb-2">Estudante de Direito</i>
          <p class="m-0">
            Como estudante de Direito na Universidade FDULAN, posso dizer que estou extremamente satisfeito com minha experiência acadêmica. A universidade oferece um currículo abrangente, com professores altamente qualificados que são especialistas em suas áreas."</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="testimonial-item d-flex flex-column justify-content-center px-2">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <img class="img-fluid ml-n4" src="./assets/images/testemunho/testimonial-2.jpg" alt="">
            <div class="testimonial-rate">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <h4 class="text-uppercase mb-2 nome-texte">Joana Almeida</h4>
          <i class="mb-2">Estudante de Direito</i>
          <p class="m-0">A experiência foi enriquecedora, tanto no crescimento pessoal quanto profissional. Professores dedicados e colegas inspiradores criaram um ambiente incrível de aprendizagem.</p>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="testimonial-item d-flex flex-column justify-content-center px-2">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <img class="img-fluid ml-n4" src="./assets/images/testemunho/images.png" alt="">
            <div class="testimonial-rate">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <h4 class="text-uppercase mb-2 nome-texte">António Lopes</h4>
          <i class="mb-2">Estudante de Direito</i>
          <p class="m-0">
            As aulas são dinâmicas e envolventes, promovendo debates e discussões que enriquecem nosso entendimento do sistema legal e das questões jurídicas atuais.</p>
        </div>
      </div> 
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

      </div>
    </div>
  </section>
  <!-- /teachers -->



</div>