<div>
   <!-- page title -->
  <section class="page-title-section overlay" data-background="assets/images/backgrounds/page-title.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="courses.html">Nosso Curso</a>
            </li>
            <li class="list-inline-item text-white h3 font-secondary "></li>
          </ul>
          <p class="text-lighten">Nossos cursos equilibram a avaliação contínua, valorizada por algumas universidades,
            com a importância atribuída aos exames finais por outras, garantindo uma formação completa e justa</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <!-- courses -->
  <section class="section-sm  ">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h2 class="mb-0 text-nowrap mr-3">Licenciatura em Direito</h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>

          </div>
          <div class="valores">
            <div>
              <h4> Ministramos o curso de Licenciatura em Direito, com o objetivo de formar Juristas altamente
                qualificados, preparados para atuar nas vertentes
              </h4>
            </div>
          </div>
        </div>
      </div>
      <!-- course list -->
      <div class="row justify-content-center">

        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="assets/images/courses/course-4.jpg" alt="course thumb">
            <div class="card-body">
              <a href="course-single.html">
                <h4 class="card-title">Jurídico-Civil</h4>
              </a>
              <p class="card-text mb-4"> Forma juristas para atuar em questões de contratos, propriedade, família e
                heranças, garantindo a aplicação justa das leis na vida em sociedade.</p>

            </div>
          </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="assets/images/courses/course-3.jpg" alt="course thumb">
            <div class="card-body">
              <a href="course-single.html">
                <h4 class="card-title">Jurídico-Política</h4>
              </a>
              <p class="card-text mb-4"> Prepara juristas para trabalhar na organização do Estado, administração pública
                e defesa do Estado de Direito.</p>

            </div>
          </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow">
            <img class="card-img-top rounded-0" src="assets/images/courses/course-6.jpg" alt="course thumb">
            <div class="card-body">
              <a href="course-single.html">
                <h4 class="card-title">Jurídico-Económica.</h4>
              </a>
              <p class="card-text mb-4"> Capacita juristas para atuar no setor empresarial e financeiro, aplicando leis
                do comércio, finanças e tributação de forma estratégica.</p>

            </div>
          </div>
        </div>
      </div>
      <!-- /course list -->
      <!-- mobile see all button -->
      <div class="row">
        <div class="col-12 text-center">
          <a href="courses.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /courses -->

  <!-- notice details -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex">

            <!-- notice content -->
            <div>
              <h2 class="mb-0 text-nowrap mr-3">Objetivos do Curso</h2>
              <p>Considerando as profundas transformações que o Estado e a sociedade angolana atravessam, e a
                necessidade de formar cidadãos ativos e comprometidos com a construção de uma sociedade moderna, a
                Licenciatura em Direito tem como finalidade preparar profissionais competentes e comprometidos com o
                conhecimento e a prática jurídica, promovendo também a formação complementar e a investigação de caráter
                interdisciplinar e transdisciplinar no campo das ciências jurídicas.</p>

              <div class="valores py-4">
                <div>
                  <h5>A formação tem como principais objetivos: </h5>
                </div>
              </div>

              <div class="row">
                <div class="col-3">
                  <h5 class="mb-4">Fornecer conhecimentos jurídicos essenciais</h5>
                  <ul class="list-styled mb-5">
                    <li>Transmitir aos alunos a base do conhecimento jurídico e as principais ferramentas que um jurista
                      deve dominar, independentemente da área de atuação.</li>
                    <li>Possibilitar a aquisição de conhecimentos especializados, permitindo que o estudante escolha e
                      aprofunde áreas específicas de interesse.</li>
                </div>

                <div class="col-3">
                  <h5 class="mb-4">Valorizar a formação integral</h5>
                  <ul class="list-styled mb-5">
                    <li>Equilibrar a formação técnico-jurídica com o desenvolvimento ético, humanista e cultural.</li>
                    <li>Estimular a compreensão do Direito como instrumento de ordenação social e fomentar o espírito
                      crítico, preparando o egresso para atuar com excelência em qualquer profissão do campo jurídico.
                    </li>
                </div>

                <div class="col-3">
                  <h5 class="mb-4">Desenvolver competências técnicas e humanas</h5>
                  <ul class="list-styled mb-5">
                    <li>Capacitar o estudante com sólidos conhecimentos jurídicos, pensamento analítico, sensibilidade
                      social e cultura jurídica.</li>
                    <li>Promover a abertura ao diálogo com outras áreas das ciências sociais, abordando os desafios do
                      Direito numa Angola democrática e em sintonia com um mundo globalizado.</li>
                </div>

                <div class="col-3">
                  <h5 class="mb-4">Contribuir para a construção de um Estado de Direito</h5>
                  <ul class="list-styled mb-5">
                    <li>Formar profissionais com competências técnicas, atitudes e valores éticos que os capacitem como
                      cidadãos ativos na consolidação de um Estado de Direito e na promoção da justiça e cidadania.</li>

                </div>
              </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /notice details -->


  <!-- cta -->
  <section class="section bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6 class="text-white font-secondary mb-0">último ano</h6>
          <h2 class="section-title text-white">Estágio Profissional para Universitários</h2>
          <a href="contact.html" class="btn btn-secondary">junte-se agora</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /cta -->

  <!-- success story -->
  <section class="section bg-cover" data-background="assets/images/backgrounds/success-story.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-4 position-relative success-video">
          <a class="play-btn venobox" href="" data-vbtype="video">
            <i class="ti-control-play"></i>
          </a>
        </div>
        <div class="col-lg-6 col-sm-8">
          <div class="bg-white p-5">
            <h2 class="section-title">FDULAN </h2>

            <p>Oferecemos o curso de Licenciatura em Direito com enfoque na formação jurídica sólida e prática.</p>

            <div class="valores">
              <div> <strong>Duração: </strong> 5 anos (10 semestres).</div>
              <div><strong>Perfil de saída: </strong> Juristas prontos para atuar em tribunais, consultorias,
                administração pública e ONGs.</div>
              <div><strong>Áreas de Estudo: </strong> Direito Civil, Penal, Constitucional, Administrativo,
                Internacional, Comercial, entre outros.</div>
              <div><strong>Componentes: </strong> Teórica, prática e investigativa.</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /success story -->

</div>