<div>

  <!-- page title -->
  <section class="page-title-section overlay img-evento">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Noticia &
                Eventos</a></li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">Espaço dedicado a divulgar atividades, conquistas e ações da FDULAN, mantendo a
            comunidade académica e o público informados.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->


  <!-- events -->
  <section class="section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h2 class="mb-0 text-nowrap mr-3">EVENTOS Recentes </h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>
           
          </div>
        </div>
      </div>

      <div class="row">
        <!-- blog post -->
        <article class="col-lg-6 col-sm-6 mb-5">
          <div class="event-card big">
            <img src="assets/images/events/post-11.jpg" alt="Semana Acadêmica">
            <div class="overlay2"></div>
            <div class="event-content ">
              <h3 class="text-white"> Governadora incentiva melhoria do ensino na ULAN</h3>
              <p class="text-white">Filomena Miza Aires encorajou a Universidade Lueji A’Nkonde a investir na melhoria do ensino e apoiou a criação de novos cursos, como engenharias, ciências agrárias, medicina e enfermagem.</p>
              <div class="event-info"><i class="ti-location-pin text-primary"></i> Campus FDULAN | 📅 9 Junho, 2025</div>
              <a href="#" class="btn">SABER MAIS</a>
            </div>
          </div>
        </article>

        <article class="col-lg-3 col-sm-6 mb-5">
          <div class="event-card small">
            <img src="assets/images/events/event-1.jpg" alt="Revista Científica">
            <div class="event-content">
              <h4 class="card-title">A criminalidade em angola </h4>
              <p>Data: 18 de Abril </p>
              <p><i class="ti-location-pin text-primary mr-2"></i>FDULAN</p>
              <a href="#" class="btn">LER MAIS</a>
            </div>
          </div>
        </article>
        <article class="col-lg-3 col-sm-6 mb-5">

          <!-- Card pequeno -->
          <div class="event-card small">
            <img src="assets/images/events/event-4.jpg" alt="Lançamento Vol. 1">
            <div class="event-content">
              <h4 class="card-title">Celebra mais um ano de existência</h4>
              <p>Data: 11 de Abril</p>
              <p><i class="ti-location-pin text-primary mr-2"></i>FDULAN</p>
              <a href="#" class="btn">LER MAIS</a>
            </div>
          </div>
        </article>
 
  

        <article class="col-lg-3 col-sm-6 mb-5">
          <div class="event-card small">
            <img src="assets/images/events/post-2.jpg" alt="Revista Científica">
            <div class="event-content">
              <h4 class="card-title">Sopa Solidária</h4>
              <p>Data: 12 Abril, 2025 </p>
              <p><i class="ti-location-pin text-primary mr-2"></i>FDULAN</p>
              <a href="#" class="btn">LER MAIS</a>
            </div>
          </div>
        </article>
        <article class="col-lg-3 col-sm-6 mb-5">
          <!-- Card pequeno -->
          <div class="event-card small">
            <img src="assets/images/events/post-9.jpg" alt="Lançamento Vol. 1">
            <div class="event-content">
              <h4 class="card-title">FDULAN na Expo Dundo 2025</h4>
              <p>Data: Abril 2025</p>
              <p><i class="ti-location-pin text-primary mr-2"></i>FDULAN</p>
              <a href="#" class="btn">LER MAIS</a>
            </div>
          </div>
        </article>
 
        <!-- blog post -->
        <article class="col-lg-6 col-sm-6 mb-5">
          <div class="event-card big">
            <img src="assets/images/events/event-2.png" alt="Semana Acadêmica">
            <div class="overlay2"></div>
            <div class="event-content ">
              <h3 class="text-white"> V Moot Arbitral 2023.</h3>
              <p class="text-white">Estudantes da FDULAN marcam presença no V Moot Arbitral 2023, em Luanda, sob
                coordenação de docentes da instituição.</p>
              <div class="event-info"><i class="ti-location-pin text-primary"></i> Campus FDULAN | 📅 9 Maio 2023</div>
              <a href="#" class="btn">SABER MAIS</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- /events -->

  <!-- blogs -->
  <section class="section">
    <div class="container">
      <div class="row">
         <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h2 class="mb-0 text-nowrap mr-3">Eventos deste mês </h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>
           
          </div>
        </div>
        
        <!-- blog post -->
        <article class="col-lg-4 col-sm-6 mb-5">
          <div
            class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
            <img class="card-img-top rounded-0" src="assets/images/blog/post-8.jpg" alt="Post thumb">
            <div class="card-body">
              <!-- post meta -->
              <ul class="list-inline mb-3">
                <!-- post date -->
                <li class="list-inline-item mr-3 ml-0">Dezembro 28, 2024</li>
                <!-- author -->
                <li class="list-inline-item mr-3 ml-0">Universidade FDULAN</li>
              </ul>
              <a href="blog-single.html">
                <h4 class="card-title">Defesas de TCC na FDULAN</h4>
              </a>
              <p class="card-text">Finalistas apresentam seus trabalhos de conclusão, demonstrando conhecimentos
                adquiridos e contribuindo para a produção científica da faculdade</p>

            </div>
          </div>
        </article>
        <!-- blog post -->
        <article class="col-lg-4 col-sm-6 mb-5">
          <div
            class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
            <img class="card-img-top rounded-0" src="assets/images/blog/post-13.jpg" alt="Post thumb">
            <div class="card-body">
              <!-- post meta -->
              <ul class="list-inline mb-3">
                <!-- post date -->
                <li class="list-inline-item mr-3 ml-0">Novembro 22, 2024</li>
                <!-- author -->
                <li class="list-inline-item mr-3 ml-0">Universidade FDULAN</li>
              </ul>
              <a href="blog-single.html">
                <h4 class="card-title">INFORMAÇÃO-FDULAN</h4>
              </a>
              <p class="card-text">Muntual Manuel, estudante do 3.º ano e Presidente da Associação de Estudantes da
                FDULAN, ficou em segundo lugar na 4.ª edição do concurso “Eu Conheço Contratação Públic</p>

            </div>
          </div>
        </article>
      
      </div>
    </div>
  </section>
  <!-- /blogs -->


</div>