<div>
  <!-- footer -->
  <footer>
    <!-- newsletter -->
    <div class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
            <h3 class="text-white">Subscreve</h3>
            <form action="#">
              <div class="input-wrapper">
                <input type="email" class="form-control border-0" id="newsletter" name="newsletter"
                  placeholder="Seu email...">
                <button type="submit" value="send" class="btn btn-primary">Envia</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- footer content -->
    <div class="footer bg-footer section border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
            <!-- logo -->
            <a class="logo-footer" href="index.html"><img class="img-fluid mb-4 logo" src="assets/images/logo.png"
                alt="logo"></a>
            <ul class="list-unstyled">
              <li class="mb-2">Município do Chitato,Província da Lunda-Norte, Angola</li>
              <li class="mb-2">+244 000 000 000</li>
              <li class="mb-2">+244 000 000 000</li>
              <li class="mb-2">geral@fdulan.com</li>
            </ul>
          </div>
          <!-- company -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">UNIVERSIDADE</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="#/sobre">HISTORIA</a></li>
              <li class="mb-3"><a class="text-color" href="#/eventos">EVENTOS & NOTICIA</a></li>
            </ul>
          </div>
          <!-- links -->
          <div class="col-lg-3 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">LINKS</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="#/">HOME</a></li>
              <li class="mb-3"><a class="text-color" href="#/curso">CURSO</a></li>
              <li class="mb-3"><a class="text-color" href="#/eventos">EVENTOS & NOTICIA</a></li>
              <li class="mb-3"><a class="text-color" href="#/sobre">HISTORIA</a></li>
              <li class="mb-3"><a class="text-color" href="#/contato">CONTACTOS</a></li>
            </ul>
          </div>

          <!-- support -->
          <div class="col-lg-3 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">DIREITO</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color"> Civil </a></li>
              <li class="mb-3"><a class="text-color">Penal</a></li>
              <li class="mb-3"><a class="text-color">Constitucional</a></li>
              <li class="mb-3"><a class="text-color">Administrativo</a></li>
              <li class="mb-3"><a class="text-color">Internacional</a></li>
              <li class="mb-3"><a class="text-color">Comercial</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- copyright -->
    <div class="copyright py-4 bg-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 text-sm-left text-center">
            <p class="mb-0">Copyright
              © 2025 - <a href="#/">FDULAN</a>
            </p> Todos os direitos reservados.
          </div>

          <div class="col-sm-4 text-sm-left text-center">
            <p class="mb-0"> Desenvolvido por <a href="#/">JLSystem</a>
          </div>

          <div class="col-sm-3 text-sm-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item"><a class="d-inline-block p-2" href="https://www.facebook.com/fdulan"><i
                    class="ti-facebook text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="https://www.twitter.com/fdulan"><i
                    class="ti-twitter-alt text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i
                    class="ti-instagram text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="https://dribbble.com/fdulan"><i
                    class="ti-dribbble text-primary"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->
</div>